body{
    margin: 20px;
    padding: 0;
    max-width: 1600px;
}

 /* Top banner section starts here */

 section{
    margin-top: 130px;
    max-width: 1320px;
 }

.banner{
    background-image: 
    linear-gradient(to bottom, #070211, #07021100),
    url('../resources/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    position: relative;
    overflow: hidden;

}

.text{
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 120px;

}
.banner-text{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-title{
    max-width: 632px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    padding-left: 335px;
    margin-top: 16px;
   
}

/* Discount offer section starts here */


.discount-script{
     align-items: center;

}
.discount-offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-text{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}
.all-category{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-photo{
    width: 800px;
    height: 500px;
    padding-left: 260px;
    margin-top: 48px;
}

/* Party banner style starts here */

.party-banner{
    background-image: 
    linear-gradient(to right, #070211, #07021100),
    url('../resources/party.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.party-text{
    padding-left: 126px;
    padding-top: 80px;
}

.party-banner-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    width: 642px;
    margin-bottom: 24px;
}

.party-banner-text{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-bottom: 30px;

}

.party-button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 20px 30px;
    border-style: none;

}

.party-year-image{
    width: 320px;
    height: 465px;
    padding-top: 68px;
    padding-right: 138px;
}

.party-location{
    text-align: center;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 100px;
    padding-bottom: 200px;
    border-radius: 16px;
}

.place, .date, .time{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}

.location-span{
    color: #F00;

}

/* Coming soon section style starts here */

.coming-soon{
      display: flex;
}
.coming-soon-script{
    text-align: left;

}
.coming-soon-subtitle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;


}
.coming-soon-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;


}
.coming-soon-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin-top: -10px;

}
.coming-pic{
    width: 463px;
    height: 463px;
    padding-left: 94px;
}
.coming-soon-info{
     padding-left: 94px;
   

}
.year-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.year-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-top: -10px;
}
.coming-soon-info-image{
    width: 140px;
    height: 140px;

}


/* Holiday sales section style starts here */

.holiday{

    text-align: center;

}

.holiday-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
    
}
.holiday-span{
    color: #F00;
}
.holiday-subtitle{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}
.holiday-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
    width: 950px;
    padding-left: 175px;
    margin-top: -20px;
    
}
.holiday-pic{
    width: 1320px;
    height: 660px;
    padding-top: 64px;
}

/* Portfolio section style starts here */

.portfolio-subtitle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.portfolio-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: -20px;

}
.portfolio-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    max-width: 896px;
    margin-top: -20px;
 
}
.portfolio-img-1,
.portfolio-img-2, 
.portfolio-img-3, 
.portfolio-img-4, 
.portfolio-img-5,
.portfolio-img-6{
    width: 415px;
    height: auto;
    border-radius: 16px;
}
.portfolio-img-2, 
.portfolio-img-3,  
.portfolio-img-5,
.portfolio-img-6{
    padding-left: 24px;
}
.portfolio-image-row-1{
    padding-top: 48px;
    display: flex;
}
.portfolio-image-row-2{
    padding-top: 24px;
    display: flex;
}

/* Newsletter section style starts here */
.newsletter-box{
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px;

}
.letter-pic{
    width: 150px;
    height: 150px;

}
.newsletter-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.newsletter-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    max-width: 869px;
    padding-left: 212px;

}
.newsletter-input{
    width: 608px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    border-style: none;
    padding-left: 40px;

}
.subscribe-btn{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-style: none;
    margin-left: -215px;
    
}
.email-box{
     padding-top: 48px;
}


/* Footer section style */
footer{
    background: #070211 ;
    width: 1600px;
    height: 609px;
    color: white;
    max-width: 1320px;
    
}

.footer-top{
     display: flex;
     border-bottom: 1px solid rgba(255, 255, 255, 0.15);
     padding-bottom: 50px;
     width: 1320px;
     padding-left: 50px;
     
}
.footer-address{
    padding-top: 120px;
    padding-left: 510px;
}
.footer-location{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    max-width: 375px;
}
.footer-phone{
      display: flex;
}
.call-icon{
    width: 24px;
    height: 24px;
}
.phone{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: -8px;
    padding-left: 10px;
}

.footer-email{
   display: flex;
}
.email-icon{
  width: 24px;
  height: 24px;
}
.email{
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-top: -8px;
  padding-left: 10px;
}
.social-icons{
    text-align: center;
    padding: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) ;

}
.facebook,
.instagram,
.twitter,
.linkedin{
    padding-left: 24px;
}
.copyright{
    display: flex;
    padding-bottom: 50px;
    width: 1320px;
    padding-left: 50px;
    padding-top: 50px;
}
.copyright-text{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.footer-unsubscribe{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-left: 600px;

}
a{
    text-decoration: none;
    color: white;
}